@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    src: url(../fonts/Open_Sans/OpenSans-Regular.woff2) format("woff2"),
        url(../fonts/Open_Sans/OpenSans-Regular.woff) format("woff"),
        url(../fonts/Open_Sans/OpenSans-Regular.otf) format("opentype");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.woff2) format("woff2"),
        url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff"),
        url(../fonts/Montserrat/Montserrat-Bold.otf) format("opentype");
}

:root {
    --primary-color:#568B8C;
    --secondary-color:#6c5291;
    --text-color: #000;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-size-regular: 16px;
    --font-family-regular:'Open Sans', sans-serif;
    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: var(--font-family-regular);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);
    color: var(--text-color);
    line-height: 1.6;
    letter-spacing: 0.2px;
    min-height: 100vh;
}

h1 {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: var(--font-weight-bold);
}

/* link styling */
a {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    /* dont' display underline by default */
    text-decoration: underline transparent;
    transition: text-decoration 0.3s ease;
}

a:hover,a:focus {
    /*show underlining when hovering over link*/
    text-decoration-color: var(--primary-color);
}

/* selected link */
a:active {
    color: var(--secondary-color);
    text-decoration-color: var(--secondary-color)
}

/* button styling */
.button {
    /* overwrite browser defaults and reset the border */
    border:none;
    display:inline-block;
    color: #fff;

    /* takes front from outer container */
    font-family:inherit;
    font-weight: var(--font-weight-bold);

    letter-spacing: 1px;
    padding: 12px 40px 13px;
    outline: 0;
    border: 1px solid #000;
    position: relative;
    /* transparent */
    background-color: rgba(0,0,0,0);
}

/* create pseudo-element to add cosmetic content(overlapping button) */
.button::after {
    content:"";
    background-color:var(--secondary-color);
    width: 100%;
    height:100%;
    /* set psedo-element behind,slightly below to the right of button */
    z-index: -1;
    position: absolute;
    top: 8px;
    left:8px;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: underline transparent;
}

.button:hover, .button:focus {
    text-decoration: underline transparent;
}

.button:hover::after, .button:focus::after {
    cursor:pointer;
    text-decoration: none;
    /* on hover/focus transition psedue-element to exact position of button */
    top:0px;
    left:0px;
    text-decoration: underline transparent;
}

.button:active {
    color: #000;
    border:none;
    background-color: #fff;
    text-decoration: underline transparent;
    box-shadow: rgb(204,219,232) 3px 3px 6px 0px inset, rgba(255,255,255,0.5) -3px -3px 6px 1px inset;
}

/* tags styling */
.tags {
    margin: 30px 5px;
}

.tag {
    display: inline-block;
    border-radius: 4px;
    padding: 3px 10px;
    background: #808080;
    color: #fff;
    margin: 5px;
    transition: 0.4s;
}

.tag:hover {
    /* shift tag slightly up on hover */
    /* transform: translate(0, -2px); */
    box-shadow: 2px 2px 10px 1px rgba(78, 38, 188, 0.5);
}

/* header */
.header-container {
    /* stays in place while scrolling */
    position: sticky;
    top: 0;
    z-index: 3;
}

.page-header {
    display: flex;
    width:100%;
    padding:10px;
    background-color: #fff;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow:1;
    text-align: right;
}

.navigation-list {
    list-style-type:none;
    margin-right:15px;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.active {
    color:var(--secondary-color);
}

#logo {
    width: 200px;
    height:auto;
}

/* Home section */
#home {
    height: 100%;
    scroll-margin-top:20vh;
}

.profile {
    max-width: 80%;
    margin: 10vh auto;
    display: flex;
    background-color: rgba(168,152,152,0.09);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
}

.profile__portrait {
    max-width: 500px;
    max-height: 500px;
    margin: 35px 50px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.profile__text {
    flex: 1 1 100px;
    padding: 15px;
    margin-right: 50px;
}

.profile__text h1{
    font-size: 50px;
    color: var(--primary-color);
}

.profile .button {
    margin-top: 20px;
    margin-right: 20px;
    padding:10px 20px 10px;
    float: right;
}

/* Toolbelt */
@keyframes toolbelt {
    from {
        transform:translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
.toolbelt {
    margin: 20vh auto;
    max-width: 75%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.toolbelt h1 {
    text-align: center;
    padding: 10px;
}

.toolbelt:before, .toolbelt:after {
    position:absolute;
    content: "";
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 2;
}

/* gradient shadow that turns white on both left and right ends */
.toolbelt:before {
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #fff);
}

.toolbelt:after {
    right:0;
    background: linear-gradient(to right, rgba(255,255,255,0),#fff);
}

.toolbelt__logos {
    display: inline-block;
    padding: 30px 0;
    animation: 25s toolbelt infinite linear;
}

.toolbelt__logos img {
    height: 60px;
    margin: 0 30px;
}

.toolbelt:hover .toolbelt__logos {
    animation-play-state: paused;
}

.toolbelt__list {
    display:flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-left:30px;
    justify-content: center;
    align-items: center;
}

.toolbelt__list-item {
    display: inline-block;
    border-radius: 4px;
    padding: 3px 10px;
    background: rgba(128,128,128,0.6);
    color: #fff;
    margin: 5px;
    transition: 0.4s;
}   

.toolbelt__list-item:hover {
    box-shadow: 2px 2px 10px 1px rgba(78, 38, 188, 0.5);
}

/* About Me */
#about {
    height: 100%;
    scroll-margin-top: 20vh;
}

.about {
    max-width: 75%;
    margin: 20vh auto;
}

.about h1 {
    text-align: center;
    padding: 10px;
}

.about__item {
    max-width: 100%;
    margin: 10vh auto;
    background-color: rgba(168, 152, 152, 0.09);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    padding: 25px;
}

.about__item h2 {
    padding: 10px;
    margin: 5px;
}

.about__item p {
    line-height: 1.8;
}

.about__item-contents svg,img {
    width: 45%;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    object-fit: cover;
}

.about__item-contents p {
    padding: 10px;
    margin: 5px;
}

/* Work section */
#work {
    height:100%;
    scroll-margin-top: 20vh;
}

.work {
    max-width: 75%;
    margin: 20vh auto;
}

.work h1 {
    text-align: center;
    padding: 10px;
}

/* grid fallback starts */
.project-list__item {
    display: inline-block;
    width: 33%;
    padding: 15px;
}
/* grid fallabck ends */

/* feature detection for support of grid feature */
@supports(display:grid) {
    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        margin:0;
    }
    .project-list__item {
        background-color: rgba(168,152,152,0.15);
        width: auto;
        min-height: auto;
        margin: 0;
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0,0,0,0.1);
        backdrop-filter: blur(10px);
    }
}

.project-list__item img {
    width: 100%;
    transition: opacity 0.5s;
    transition: box-shadow 0.5s;
    transition-timing-function: ease-in-out;
}

.project-list__item img:hover, .project-list__item img:focus {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.project-description {
    min-height: 150px;
}

.project-list__item .button {
    margin-right: 20px;
    margin-bottom: 20px;
    float:right;
}

.modal {
    width: 50%;
    padding: 15px 6%;
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border:none;
    outline:none;
}

.modal h3 {
    margin-top: 45px;
}

.modal p {
    min-height: 50px;
}

.close-modal {
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
}

.close-modal img {
    border-radius: 50%;
    transition: box-shadow 0.5s;
    transition-timing-function: ease-in-out;
    padding: 1px;
}

.close-modal img:hover, .close-modal img:focus {
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

/* add pulsing animation (for open details button) */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.open-modal {
    margin-right: 20px;
    margin-bottom: 20px;
    float:right;
    /* button pulses to get attention of user - open details */
    animation:pulse 1.7s infinite;
}

.open-modal:hover {
    animation: none;
}

.open-modal img, .open-modal img:hover, .open-modal img:focus {
    border-radius: 50%;
    opacity: 1;
}

/* Contact Section */
#contact {
    scroll-margin-top: 20vh;
    height: 100%;
    max-width: 80%;
    margin: 10vh auto;
    display: flex;
    background-color: rgba(168, 152,152, 0.09);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(10px);
    padding:25px;
}

.contact h1 {
    padding-bottom: 10px;
}

.contact__information {
    margin: 40px 45px;
    display: block;
}

/* Footer */
.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align:center;
    position:sticky;
    top:100%;
    margin-bottom: 5px;
}

.social-media img {
    width: 60px;
    margin: 5px;
}

/* Media Queries */
/* for under 500px */
/* affecting: profile(home),contact */
@media all and (max-width:500px) {
    .profile {
        max-width: 320px;
    }
    .profile__portrait {
        margin-bottom: 25px;
    }
    .profile__text h1 {
        font-size: 20px;
    }
    .profile__text h2 {
        font-size: 18px;
    }
    #contact {
        padding: 10px;
    }
    .contact {
        margin:0 0;
    }
}

/* for under 750px */
/* affecting: navigation, profile(home), toolbelt, about, project list, button, h1 */
@media all and (max-width:750px) {
    ul {
        padding-inline-start: 0;
    }
    #logo {
        margin-left:10px;
    }
    .profile {
        flex-wrap:wrap;
        justify-content:center;
    }
    .profile__portrait {
        margin-right:50px;
        margin-bottom:10px;
        width:100%;
        max-width:500px;
        max-height:500px;
        object-fit:contain;
        padding:10px;
    }
    .profile__text {
        flex:auto;
    }
    .button {
        padding: 8px 25px 8px;
    }
    .profile__text .button {
        width:100%;
        margin-right:10px;
        margin-left:10px;
        float:none;
        text-align:center;
    }
    .toolbelt:before, .toolbelt:after {
        width: 50px;
    }
    .toolbelt__logos img {
        height:35px;
        margin:0 15px;
    }
    h2 {
        font-size: 20px;
    }
    .about__item-contents {
        display:flex;
    }
    /* .about__item-contents img {
        display:none;
    } */
    .project-list {
        grid-gap: 15px;
        grid-template-columns: 1fr;
    }
    h1 {
        font-size:22px;
    }
    .modal {
        width: 85%;
    }
}

/* for 750px - 1200px */
/* affecting: home(profile) */
@media all and (min-width:750px) and (max-width:1200px) {
    .profile {
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile__portrait {
        margin-right: -50%;
        margin-bottom: -200%;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        object-fit: contain;
        padding: 10px;
    }
    .profile__text {
        flex:auto;
    }
}

/* for 750px - 1350px */
/* affecting: about, project list, button */
@media all and (min-width:750px) and (max-width:1350px) {
    .about__item-contents {
        display: inline-block;
    }
    .about__item-contents img {
        object-fit:contain;
        float: inline-start;
    }
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
    .button {
        padding: 13px 25px 13px;
    }
}

/* for 500px - 1400px */
/* affecting: profile h1 */
@media all and (min-width:500px) and (max-width:1400px) {
    .profile__text h1 {
        font-size: 30px;
    }
}

/* for 1400px - 1600px */
/* affecting: profile h1, project list p */
@media all and (min-width:1400px) and (max-width:1600px) {
    .profile__text h1 {
        font-size: 35px;
    }
    .project-description {
        min-height: 180px;
    }
}

/* disabled button */
.inactive-button::after {
    background-color: #abaaaa;
}

.inactive-button:hover::after, .inactive-button:focus::after {
    top: 7px;
    left:7px;
}

.resume::after {
    background-image: url('../img/document-logo.png');
    background-size: 16px 16px;
    display: inline-block;
    width: 16px;
    height:16px;
    content:"";
}